.action-bar {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e7e7e7;
  height: 72px;
  max-height: 72px;
  max-width: 100%;
  min-height: 72px;
  min-width: 100%;
  padding: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.action-bar .content {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

